<header class="header">
  <div class="government-bar">
    <div class="content-container">
      <a href="http://brasil.gov.br/barra#acesso-informacao" >Acesso à informação</a>
      <a href="http://brasil.gov.br/barra#participe" >Participe</a>
      <a href="http://www.servicos.gov.br/?pk_campaign=barrabrasil" >Serviços</a>
      <a href="http://www.planalto.gov.br/legislacao" >Legislação</a>
      <a href="http://brasil.gov.br/barra#orgaos-atuacao-canais" >Canais</a>
    </div>
  </div>

  <link rel="icon" href="assets/dspace/images/favicons/ifpb.ico" sizes="any"/>
  <nav role="navigation" [attr.aria-label]="'nav.user.description' | translate" class="container navbar navbar-expand-md px-0">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand m-2" routerLink="/home">
        <a href="http://ifpb.edu.br/">
          <img
            class="img-responsible"
            src="https://avatars.githubusercontent.com/u/2523928?s=200&v=4"
             width="30px" height="30px"
          />
        </a>
      </a>
    </div>
    <div class="d-flex flex-grow-1 ml-auto justify-content-end align-items-center">
      <ds-search-navbar class="navbar-search"></ds-search-navbar>
      <ds-lang-switch></ds-lang-switch>
      <ds-themed-auth-nav-menu></ds-themed-auth-nav-menu>
      <ds-impersonate-navbar></ds-impersonate-navbar>
      <div class="pl-2">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
                aria-controls="collapsingNav"
                aria-expanded="false" [attr.aria-label]="'nav.toggle' | translate">
          <span class="navbar-toggler-icon fas fa-bars fa-fw" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </nav>
  <ds-themed-navbar></ds-themed-navbar>

</header>
